body {
    background: #fefefe;
}
h1 {
    color: rgb(126, 10, 45);
}
h2 {
    color: #1460AA;
    background: rgb(192, 253, 157)
}
section {
    background: #fefefe;
}
.fioletowy {
    color: purple;
}
#Joga {
    background: rgb(163, 163, 228);
}

a {
    color: green;
}

section a {
    color: inherit;
}

.my-article {
    color: hotpink;
}
.my-article p {
    background: #1460AA;
    color: #fff;
}
#name {
    color: red;
}

.about {
    color: #720432
}